# Основные фреймворки
fastapi
uvicorn
gunicorn

# База данных
sqlalchemy
psycopg2-binary

# QR-код
qrcode[pil]

# --- ЗАВИСИМОСТИ ДЛЯ ГОЛОСОВОГО ПОМОЩНИКА ---
google-genai  # Для работы с Gemini API
SpeechRecognition # Для распознавания речи
python-multipart
