<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>VORTEX HD</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav style="position: absolute; top: 10px; right: 20px;">
      {% if session['username'] %}
        <span>Привет, {{ session['username'] }}</span>
        <a href="{{ url_for('dashboard') }}">Личный кабинет</a>
        <a href="{{ url_for('logout') }}">Выйти</a>
      {% else %}
        <a href="{{ url_for('login') }}">Войти</a>
        <a href="{{ url_for('register') }}">Регистрация</a>
      {% endif %}
    </nav>
    <nav>
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/pos">Касса</a></li>
            <li><a href="/reports">Отчёты</a></li>
            <li><a href="/add">Добавить товар</a></li>
            <li><a href="/client">Промо Экран</a></li>
        </ul>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>

