<!DOCTYPE html>
<html>
<head>
    <title>Клиентский экран</title>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
</head>
<body>
    <h1 id="amount">Ожидание суммы...</h1>
    <img src="/static/qr.png" alt="QR-код" style="width:200px;">

    <script>
        const socket = io();

        socket.on("total", function(data) {
            const amount = data.amount;
            document.getElementById("amount").textContent = "Итого: " + amount + " ₸";
            const msg = new SpeechSynthesisUtterance("Итого: " + amount + " тенге");
            speechSynthesis.speak(msg);
        });
    </script>
</body>
</html>
