{% extends "base.html" %}
{% block content %}
<h2>Касса</h2>

<table border="1">
    <tr>
        <th>Название</th>
        <th>Цена</th>
        <th>Остаток</th>
    </tr>
    {% for product in products %}
    <tr>
        <td>{{ product[1] }}</td>
        <td>{{ product[2] }}</td>
        <td>{{ product[3] }}</td>
    </tr>
    {% endfor %}
</table>
<form action="/send_total" method="post">
    <input type="number" name="amount" placeholder="Введите сумму" required>
    <button type="submit">Отправить на экран</button>
</form>


{% endblock %}
